.logo {
  --gutter: var(--space-xs);
  padding: var(--space-s) 0;
  font-size: var(--size-step-0);
  text-decoration: none;
}

.logo svg {
  font-size: var(--size-step-3);
  color: var(--color-primary);
  background-color: var(--color-bg-accent);
  border-radius: 50%;
  padding: 0.1rem;
}
